# Copy this file to .env and fill with real credentials (do NOT commit .env)
SECRET_KEY=django-insecure-xyz123...
DEBUG=False
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
MYSQL_ROOT_PASSWORD=